.center {
  text-align: center;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 750px;
}

.project-card {
  display: flex;
  gap: 1.5rem;
  background-color: var(--bg-card);
  border: 1px solid var(--border-color);
  padding: 1.8rem;
  border-radius: 12px;
}

.card-icon {
  background-color: #161628;
  border: 1px solid var(--border-color);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.card-content h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card-content p {
  color: var(--text-secondary);
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.tech-stack {
  font-family: var(--font-mono);
  font-size: 0.75rem;
  color: var(--text-secondary);
}