<nav>
    <span>Alerrandro de matos Ferreira</span>
    <ul>
        <li><a routerLink="/sobre">Sobre mim</a></li>
        <li><a routerLink="/certificacoes">Certificação</a></li>
        <li><a routerLink="/formacao-academica">Formação academica</a></li>
        <li><a routerLink="/habilidades">Habilidades</a></li>
        <li><a routerLink="/objetivo-profissional">Objetivo profissional</a></li>
        <li><a routerLink="/projetos">Projetos</a></li>
        <li><a routerLink="/qualificacoes">Qualificações</a></li>
    </ul>
</nav>
