<header class="navbar">
  <div class="logo">
    <span class="logo-accent">A</span>lerrandro de Matos Ferreira
  </div>
  <nav class="nav-links">
    <a routerLink="/sobre" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Sobre mim</a>
    <a routerLink="/certificacoes" routerLinkActive="active">Certificações</a>
    <a routerLink="/habilidades" routerLinkActive="active">Habilidades</a>
    <a routerLink="/objetivo-profissional" routerLinkActive="active">Objetivo</a>
    <a routerLink="/projetos" routerLinkActive="active">Projetos</a>
  </nav>
</header>